@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<p>
    The above request ID may be helpful in troubleshooting your error.  If you are a software developer and getting this message, consider swapping to the 
    <strong>Development environment</strong> where more detailed information can be seen.
</p>
